	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{{U_INDEX}}" accesskey="h">{{L_INDEX}}</a></li>
				{% if not S_IS_BOT %}
					{% if S_WATCH_FORUM_LINK  %}<li {% if S_WATCHING_FORUM %}class="icon-unsubscribe"{% else %}class="icon-subscribe"{% endif %}><a href="{{S_WATCH_FORUM_LINK}}" title="{{S_WATCH_FORUM_TITLE}}">{{S_WATCH_FORUM_TITLE}}</a></li>{% endif %}
					{% if U_WATCH_TOPIC  %}<li {% if S_WATCHING_TOPIC %}class="icon-unsubscribe"{% else %}class="icon-subscribe"{% endif %}><a href="{{U_WATCH_TOPIC}}" title="{{L_WATCH_TOPIC}}">{{L_WATCH_TOPIC}}</a></li>{% endif %}
					{% if U_BOOKMARK_TOPIC %}<li class="icon-bookmark"><a href="{{U_BOOKMARK_TOPIC}}" title="{{L_BOOKMARK_TOPIC}}">{{L_BOOKMARK_TOPIC}}</a></li>{% endif %}
					{% if U_BUMP_TOPIC  %}<li class="icon-bump"><a href="{{U_BUMP_TOPIC}}" title="{{L_BUMP_TOPIC}}">{{L_BUMP_TOPIC}}</a></li>{% endif %}
				{% endif %}
			<li class="rightside">{% if U_TEAM %}<a href="{{U_TEAM}}">{{L_THE_TEAM}}</a> &bull; {% endif %}{% if not S_IS_BOT %}<a href="{{U_DELETE_COOKIES}}">{{L_DELETE_COOKIES}}</a> &bull; {% endif %}{{S_TIMEZONE}}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="copyright">
		By accessing and using this forum you agree to the usage of cookies. <a href="http://pastebin.com/tipRB8EZ">More on cookies</a>.
		{% if DEBUG_OUTPUT %}<br />{{DEBUG_OUTPUT}}{% endif %}
	</div>
</div>
</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	{% if not S_IS_BOT %}{{RUN_CRON_TASK}}{% endif %}
</div>
</body>
</html>