

<!-- SHOW SIDEBAR -->
<div id="sidebar">
    <input type="text" class="searchbar" placeholder="Find Boards...">
    <hr />
    <b>Filters:</b>
    <ul>
        <li>Link One</li>

    </ul>        
</div>
<!-- SHOW TOP 5 BOARDS -->
<div id="rightside">
<div id="forumtop">
    <div id="forumname">{{lang.board_top}}</div>
</div>
<div id="forummid">
    <div class="row">
        <!-- TEXT GOES HERE -->
        <a href="#" class="name">Google</a><br />
        <span>Description</span>
    </div>
    <div class="row">
        <!-- TEXT GOES HERE -->
        <a href="#" class="name">Yahoo</a><br />
        <span>Description</span>
    </div>
</div>
<div id="forumbum"></div>
</div>
<div style="clear:both;"></div>