<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={{S_CONTENT_ENCODING}}" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="{{S_USER_LANG}}" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="resource-type" content="document" />
		<meta name="distribution" content="global" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		{{META}}
		<title>{{lang.sitename}} {% if pagetitle %}  &bull; {{pagetitle}} {% endif %}</title>
		<link href="{{directory_root}}theme.php?theme={{style.name}}" type="text/css" rel="stylesheet" />
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
              
        </head>
	<body>
            <div id="wrap">
		<div id="navbar_top">
			<div class="myinner">
				<ul>
					<li><a href="{{directory_root}}">Home</a></li>
				</ul>
			</div>
		</div>
		<div id="headertop">
			<div class="myinner">
				<a href="{{directory_root}}" id="logo"></a>
			</div>
		</div>
		<div id="breadcrumbs">
			<ul>
				<li class="icon-home"><a href="#">Home</a></li>
				<li class="right"><a href="#">Right</a></li>
			</ul>
		</div>				 
		
			<div id="wrapper">
				{% include template %}
			</div>
		

            <div id="footer">
            			<div id="footerbar">
                                    <div class="innerfoot">
				<ul>
					<li>
						<a href="#" accesskey="h">Home</a>
					</li>
				</ul>
                                    </div>
			</div>
            </div>
            </div>
                <div style="clear: both"></div>
                <br />
		<div class="copyrighter">
			Boardirectory.org &copy; All Rights Reserved.<br />
                        Directory by Jeroen Bollen & Brad Veryard.
		</div>   

	</body>
</html>